#register {
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('../../Assets/Images/carousel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
}